.alert{
    max-width: fit-content;
    margin-bottom: 0;
    cursor: pointer;
}
.gap__flex, .pt_gap__flex{
    display: flex;
    align-items: center;
    gap: 5px;
}
.note-editor{
    max-height: 500px;
}
