@media (max-width: 1439px) {
    .container{
        max-width: 1020px;
    }
    .header_nav-wrapper{
        gap: 20px;
    }
    .header_nav_list{
        gap: 8px;
    }
    .header_nav--link{
        font-size: 13px;
    }
    .footer .container{
        padding: 40px 20px;
    }
    .footer_nav--link{
        font-size: 14px;
    }
    .footer_nav_list{
        gap: 20px;
    }
    .footer_nav{
        margin-top: 40px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}
@media (max-width: 1020px) {
    .container{
        max-width: 600px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_buttons-blue-btn{
        max-width: 190px;
        font-size: 12px;
        padding: 9px;
        line-height: 17px;
    }
    .header_nav,
    .header_buttons .btn--exit,
    .header--search-input-wrapper{
        display: none;
    }
    .header_buttons{
        max-width: unset;
        justify-content: flex-end;
    }
    .header .container{
        align-items: center;
        padding: 7.5px 15px;
    }
    .header-link{
        max-width: 90px;
    }
    .header_buttons{
        gap: 4px;
    }
    .btn--burger{
        display: flex;
    }
    .header_buttons-blue-btn:hover{
        gap: 4px;
    }
    .footer .container{
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 360px;
    }
    .footer .container{
        padding: 43px 15px 23px 15px;
        gap: 0px;
    }
    .footer_nav-wrapper-first{
        display: block;
    }
    .footer_social-title,
    .footer_contacts-text{
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 30px;
        line-height: 120%;
    }
    .footer_nav{
        padding: 0px;
        margin: 0px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .footer_nav_list{
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer_nav_list_item:nth-child(4){
        display: none;
    }
    .footer_nav_list_item,
    .footer_social_list_item{
        width: 156px;
        white-space: nowrap;
    }
    .footer_nav--link,
    .footer_social--link{
        font-size: 17px;
        line-height: 25px;  
    }
    .footer_social_list{
        padding: 0px;
        margin: 0px;
        padding-bottom: 25px !important;
        margin-bottom: 25px;
        border-bottom: 1px solid #FFFFFF;
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer_contacts-address{
        gap: 15px;
        margin-bottom: 30px;
    }
}