@media (max-width: 1439px) {
    .container{
        max-width: 1020px;
    }
    .header_nav-wrapper{
        gap: 20px;
    }
    .header_nav_list{
        gap: 8px;
    }
    .header_nav--link{
        font-size: 13px;
    }
    .footer .container{
        padding: 40px 20px;
    }
    .footer_nav--link{
        font-size: 14px;
    }
    .footer_nav_list{
        gap: 20px;
    }
    .footer_nav{
        margin-top: 40px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    .article--card.big img{
        max-width: 520px;
        height: auto;
    }
    .title{
        font-size: 52px;
    }
    .main_articles_top{
        margin-bottom: 20px;
    }
    .article--card.big{
        align-items: start;
    }
    .article--card.big .article--card_info-title {
        font-size: 22px;
    }
    .article--card{
        max-width: 480px;
    }
    .filter-aside{
        max-width: 360px;
    }
    .cpapage_info--item_main_top{
        flex-wrap: wrap;
    }
}
@media (max-width: 1020px) {
    .container{
        max-width: 600px;
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
    .header_buttons-blue-btn{
        max-width: 190px;
        font-size: 12px;
        padding: 9px;
        line-height: 17px;
    }
    .header_nav,
    .header_buttons .btn--exit,
    .header--search-input-wrapper{
        display: none;
    }
    .header_buttons{
        max-width: unset;
        justify-content: flex-end;
    }
    .header .container{
        align-items: center;
        padding: 7.5px 15px;
    }
    .header-link{
        max-width: 90px;
    }
    .header_buttons{
        gap: 4px;
    }
    .btn--burger{
        display: flex;
    }
    .header_buttons-blue-btn:hover{
        gap: 4px;
    }
    .footer .container{
        flex-direction: column-reverse;
    }
    .main_articles_top{
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    .article--card.big{
        flex-direction: column;
    }
    .article--card.big img {
        max-width: 100%;
    }
    .article--card{
        max-width: 100%;
    }
    .main-cpa_wrapper{
        flex-direction: column;
    }
    .main-cpa_aside{
        max-width: 100%;
    }
    .main-events_right{
        display: none;
    }
    .filter-aside{
        max-width: 100%;
        background-color: white;
        display: none;
        margin-bottom: 60px;
    }
    .cpapage .container{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .filter-aside-banner{
        display: none;
    }
    .cpapage_main-to-hide{
        display: none;
    }
    .cpapage_main-to-show{
        display: block;
    }
    .filter-aside--btn-show{
        display: flex;
    }
    .allvideopage_top{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 360px;
    }
    .footer .container{
        padding: 43px 14px 23px 14px;
        gap: 0px;
    }
    .footer_nav-wrapper-first{
        display: block;
    }
    .footer_social-title,
    .footer_contacts-text{
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 30px;
        line-height: 120%;
    }
    .footer_nav{
        padding: 0px;
        margin: 0px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .footer_nav_list{
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer_nav_list_item:nth-child(4){
        display: none;
    }
    .footer_nav_list_item,
    .footer_social_list_item{
        width: 156px;
        white-space: nowrap;
    }
    .footer_nav--link,
    .footer_social--link{
        font-size: 17px;
        line-height: 25px;  
    }
    .footer_social_list{
        padding: 0px;
        margin: 0px;
        padding-bottom: 25px !important;
        margin-bottom: 25px;
        border-bottom: 1px solid #FFFFFF;
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer_contacts-address{
        gap: 15px;
        margin-bottom: 30px;
    }
    .main_articles .container{
        padding: 38px 14px 20px 14px;
    }
    .mainpage-title{
        font-size: 10px;
    }
    .title{
        font-size: 40px;
        margin-left: -2px;
    }
    .main_articles_top{
        margin-bottom: 15px;
    }
    .main_articles_top_link-wrapp{
        display: none;
    }
    .article--card_info_tags-list-item.mobhide:last-child{
        display: none;
    }
    .article--card.big{
        gap: 7px;
    }
    .article--card_info_tags-list{
        margin-bottom: 10px;
    }
    .article--card.big .article--card_info-title{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .article--card_info-text{
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .article--card.big .article--card_info-views{
        transform: translateY(-12%);
        top: 0;
    }
    .article--card_info-views span{
        margin-top: 0px;
    }
    .article--card_info-title{
        font-weight: 700;
        font-size: 16px;
    }
    .main_articles .main_articles_info .article--card{
        display: none;
    }
    .main_articles .main_articles_info .article--card.big{
        display: flex;
    }
    .article--card-top{
        top: -160px;
        right: 10px;
    }
    .main_articles .main_articles_info{
        margin-bottom: 25px;
    }
    .main_articles--mobile{
        display: block;
    }
    .main-cpa .title{
        margin-bottom: 3px;
    }
    .main-cpa-subt{
        font-size: 30px;  
    }
    .main-cpa_review{
        gap: 17px;
    }
    .main-cpa .main_articles_info{
        display: none;
    }
    .main-cpa_wrapper{
        gap: 33px;
    }
    .main-cpa-subt_wrapp{
        width: 100%;
        padding-bottom: 17px;
        justify-content: space-between;
        border-bottom: 1px solid #272C31;
    }
    .main-cpa_aside{
        gap: 0px;
    }
    .main-cpa-subt_wrapp .link--blue{
        margin-bottom: 0px;
    }
    .main-cpa_aside_list-item{
        padding: 20px 10px 15px 10px;
        gap: 0px;
        position: relative;
    }
    .link--black-rotateble-arrows{
        display: none;
    }
    .main-cpa_aside_list-item_top{
        gap: 15px;
        flex-direction: column;
        align-items: start;
    }
    .main-cpa_aside_list-item .article--card_info_tags-list{
        justify-content: start;
    }
    .main-cpa_aside_list-item .link--blue-sphere{
        position: absolute;
        top: 20px;
        right: 10px;
    }
    .main-cpa .container{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .main-video .container{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .main-video-top-left{
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }
    .main-video-top-left .link--blue{
        margin-bottom: 10px;
    }
    .main-video .swiper-button{
        display: none;
    }
    .main-video .swiper-pagination{
        max-width: 100%;
        left: 0;
    }
    .main-video .swiper{
        padding-bottom: 30px;
        margin-bottom: 35px;
    }
    .main_articles--mobile .btn--red{
        margin: 0px auto;
    }
    .main-adn .container{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .main-adn .main_articles_info{
        display: none;
    }
    .main-adn .main_articles--mobile .swiper{
        margin-bottom: 0px;
    }
    .main-events .container{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .main-events .title{
        margin-bottom: 15px;
    }
    .main-cpa-subt_wrapp{
        display: none;
    }
    .main-events .article--card.hide{
        display: none;
    }
    .main-events .article--card{
        gap: 5px;
    }
    .main-events__article--card_info_top-date span{
        font-weight: 600;
        font-size: 10px;
    }
    .main-events .article--card_info-title{
        margin: 5px 0px 10px 0px;
        font-weight: 700;
        font-size: 16px;
    }
    .articlespage .link--black-rotateble-arrows {
        display: flex;
    }
    .breadcrambs.top{
        display: none;
    }
    .breadcrambs.bot{
        display: block;
    }
    .articlespage .container{
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .articlespage .title{
        margin-bottom: 5px;
    }
    .articlespage-text{
        font-size: 14px;
        line-height: 140%;
        color: #272C31;
        margin-bottom: 20px;
    }
    .articles_seo-text{
        margin-top: 63px;
    }
    .articles_seo-text--title{
        margin-bottom: 15px;
    }
    .articles_seo-text--text{
        font-size: 12px;
        line-height: 140%;
    }
    .cpapage .container{
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .cpapage .link--black-rotateble-arrows{
        display: flex;
    }
    .cpapage_info-wrapper{
        gap: 43px;
    }
    .cpapage_info-header .article--card-top{
        display: none;
    }
    .cpapage_info-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;  
    }
    .cpapage_info-list{
        gap: 15px;
    }
    .cpapage_info-header .link--black-rotateble-arrows{
        display: none;
    }
    .cpapage_info--block{
        gap: 16px;
    }
    .cpapage_info--block--link{
        margin-top: 19px;
        display: flex;
    }
    .filter-aside-banner.to-show{
        display: block;
    }
    .cpapage_info--item{
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .cpapage_info--item_buttons{
        max-width: 100%;
        flex-direction: row;
    }
    .cpapage_info--item-line{
        display: none;
    }
    .cpapage_info--item_main_top{
        flex-direction: column;
        gap: 17px;
        align-items: start;
    }
    .cpapage_info--item_main_top-list{
        max-width: 100%;
        width: 100%;
        padding-top: 20px !important;
        border-top: 1px solid #181A1C;
        justify-content: start;
    }
    .cpapage_info--item_main{
        gap: 15px;
    }
    .cpapage_info--item_main-text{
        padding-bottom: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }
    .cpapage_info--item .header_buttons-blue-btn{
        max-width: 110px;
        height: 40px;
    }
    .btn--grey-with-icons{
        padding: 7px 8px;
    }
    .cpapage_info--item_main_top .article--card-top{
        display: flex;
    }
    .filter-aside--btn{
        padding: 20px 10px;
    }
    .filter-aside_list-item_wrapper{
        padding: 0px 10px 20px 10px;
    }
    .cpapage_main-to-show_filter__tags{
        width: 330px;
    }
    .ad-net-page .link--blue-sphere,
    .ad-net-page .btn--grey-with-icons.promocode{
        display: none;
    }
    .btn--grey-with-icons.mobile{
        display: flex;
    }
    .allvideopage .article--card-top{
        top: 10px;
        left: 10px;
    }
    .allvideopage .main_articles_top_link-wrapp{
        display: block;
        width: 100%;
    }
    .allvideopage .main_articles_top_link-wrapp-arrows{
        display: none;
    }
    .allvideopage .btn--red{
        max-width: 100%;
        width: 100%;
    }
}