.main__article p,
.main__article p *,
.main__article span,
.main__article span *,
.main__article li,
.main__article li * {
    font-family: 'Montserrat' !important;
    font-size: 18px !important;
    line-height: 160% !important;
    color: #272C31 !important;
    width: 100% !important;
    white-space: normal !important;
    margin-left: 0 !important;
}

.main__article{
    width: 100%;
}

.main__article div:has(table){
    overflow: auto;
}

.main__article a, .main__article a * {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 160% !important;
    text-decoration-line: underline !important;
    color: #014EFF !important;
}

.main__article h1, .main__article h1 * {
    font-family: 'Jost' !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 120% !important;
    text-transform: uppercase !important;
    color: #014EFF !important;
}

.main__article h2, .main__article h2 * {
    font-family: 'Jost' !important;
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 120% !important;
    text-transform: uppercase !important;
    color: #014EFF !important;
}

.main__article h3, .main__article h3 * {
    font-family: 'Jost' !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    line-height: 120% !important;
    text-transform: uppercase !important;
    color: #014EFF !important;
}


.main__article b, .main__article b * {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 160% !important;
    color: #272C31 !important;
}

.main__article i, .main__article i * {
    font-family: 'Montserrat' !important;
    font-style: italic !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 160% !important;
    color: #272C31 !important;
}

.main__article img {
    width: 100% !important;
    height: 100% !important;
}

.main__article {
    max-width: inherit !important;
}
