/*--reset--*/
html {
    box-sizing: border-box;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}
  
ol[class] {
    padding: 0;
}
  
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
  
ul[class] {
    list-style: none;
    padding: 0;
}
  
img {
    display: block;
    max-width: 100%;
}
  
input,
button,
textarea,
select {
    font: inherit;
}
  
a {
    text-decoration: none;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
  
input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
}
/*--reset--*/

/*--fonts--*/
*{
    font-family: 'Jost';
    font-style: normal;
}
/*--fonts--*/

/*-----constant-----*/
:root {
    --blue: #014EFF;
    --red: #FF0000;
}
/*-----constant-----*/

/*------ GLOBAL -------*/
body::-webkit-scrollbar { 
    width: 8px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 0px; 
}
.container {
    max-width: 1406px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
a, button{
    transition-duration: 0.3s;
    user-select: none;
    cursor: pointer;
    border: none;
    background: none;
}
/*------ GLOBAL -------*/

/*--header--*/
.header{
    background-color: white;
    border-bottom: 0.5px solid #272C31;
    position: relative;
}
.header .container{
    padding: 7px 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.header-link{
    display: block;
    max-width: 115px;
    width: 100%;
}
.header_nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 58px;
}
.header_nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav_list{
    display: flex;
    gap: 40px;
}
.header_nav--link{
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    color: #272C31;    
}
.header_nav--link:hover{
    color: var(--blue);
}
.header_buttons{
    max-width: 353px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn--blue{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;    
    padding: 10px 20px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);

}
.header_buttons-blue-btn span{
    margin-right: -10px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);
}
.header_buttons-blue-btn{
    max-width: 257px;
    gap: 0px;
}
.header_buttons-blue-btn img{
    transform: translateX(-100%);
    opacity: 0;
    transition-duration: 0.3s;
    margin-top: -2px;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);
}
.header_buttons-blue-btn:hover{
    gap: 10px;
}
.header_buttons-blue-btn:hover span{
    margin-right: 0px;
}
.header_buttons-blue-btn:hover img{
    transform: translateX(0);
    opacity: 1;
}
.btn-rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 0.5px solid #272C31;
}
.btn-rectangle svg path{
    transition-duration: 0.3s;
}
.btn-rectangle:hover{
    border: 0.5px solid var(--blue);
}
.btn-rectangle.btn--exit:hover svg path{
    fill: var(--blue);
}
.btn-rectangle.btn--search:hover svg path{
    stroke: var(--blue);
}
.btn--burger{
    width: 35px;
    height: 35px;
    border: 0.5px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger--btn_wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 14.25px;
    width: 100%;
    gap: 2px;
}
.burger--btn_wrapper-line{
    background-color: var(--blue);
    height: 2px;
    width: 100%;
    transition-duration: 0.3s;
}
.btn--burger{
    display: none;
}
.btn--burger.active{
    background-color: var(--blue);
}
.btn--burger.active
.burger--btn_wrapper-line:nth-child(2){
    opacity: 0;
}
.btn--burger.active
.burger--btn_wrapper-line{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    background-color: white;
}
.btn--burger.active
.burger--btn_wrapper-line:last-child{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.header--search-btn.active:hover svg path{
    stroke: #272C31;
}
.header--search-btn.active:hover{
    border: 0.5px solid #272C31;
    border-left: none;
}
.header--search-input-wrapper{
    position: relative;
    width: 40px;
}
.header--search-input{
    position: absolute;
    top: 0;
    right: 100%;
    width: 266px;
    height: 40px;
    z-index: 2;
    transform-origin: right;
    opacity: 0;
    transform: scaleX(0);
    transition-duration: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #272C31;
    opacity: 0.5;
    background: #FFFFFF;
    padding: 8px 9px;
    border: 0.5px solid #272C31;
    border-right: none;
}
.header--search-input.active{
    opacity: 1;
    transform: scaleX(1);
}
.header--search-btn.active{
    border-left: none;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.burger-menu{
    position: fixed;
    right: 0;
    top: 50px;
    background-color: white;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform-origin: right;
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 0.3s;
}
.burger-menu.active{
    opacity: 1;
    transform: translateX(0%);
}
.burger-menu::-webkit-scrollbar { 
    width: 4px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 0px;
}
.burger-menu::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 0px; 
}
.burger-menu .container{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.burger-menu--top{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.burger-menu--search{
    width: 100%;
    display: flex;
    align-items: center;
}
.burger-menu--search-input{
    width: 100%;
    padding: 9px;
    background: #FFFFFF;
    border: 0.5px solid #272C31;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #272C31;
    border-right: none;
}
.burger-menu--search-input::placeholder{
    opacity: 0.5;
}
.burger-menu--search--btn,
.burger-menu--search--btn:hover{
    border: 0.5px solid #272C31;
    border-left: none;
}
.burger-menu-title{
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--blue);  
    margin-bottom: 15px;  
}
.burger_nav{
    width: 100%;
}
.burger_nav_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.burger_nav--link{
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
    color: #272C31;
}
.burger_nav--link:hover{
    color: var(--blue);
}
/*--header--*/ 


/*--footer--*/
.footer{
    background: #181A1C;
}
.footer .container{
    padding: 80px 20px 92px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
.footer_contacts{
    max-width: 386px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer_contacts-text{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_contacts-address{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer_contacts-address-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;    
}
.footer_tm{
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer_nav-wrapper{
    max-width: 718px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer_nav{
    margin-top: 50px;
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 33px;
}
.footer_nav_list{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer_nav--link{
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_social-title{
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 60px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_social_list{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 40px;
}
.footer_social--link{
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_social--link:hover,
.footer_nav--link:hover{
    color: var(--blue);
}
.footer_nav-wrapper-first{
    display: none;
}
/*--footer--*/

/*--banner--*/
.banner{
    width: 100%;
    height: 300px;
}
.banner img{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
/*--banner--*/

/*--MAINPAGE--*/
.title{
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--blue );
    margin-left: -6px;
}
/*--main-articles*/
.mian_articles{
    background-color: white;
}
.main_articles .container{
    padding: 80px 20px 40px 20px
}
.main_articles_top{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.btn--grey{
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272C31;
    border: 1px solid #272C31;
}
.btn--grey:hover{
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}
.main_articles_top_link-wrapp{
    display: flex;
    align-items: center;
    gap: 20px;
}
.main_articles_top_link-wrapp-arrows{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main_articles_top_link-wrapp-arrows svg path{
    animation-name: arrowsblink;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 3s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(2) path{
    animation-delay: 0.3s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(3) path{
    animation-delay: 0.6s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(4) path{
    animation-delay: 0.9s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(5) path{
    animation-delay: 1.2s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(6) path{
    animation-delay: 1.5s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(7) path{
    animation-delay: 1.8s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(8) path{
    animation-delay: 2.1s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(9) path{
    animation-delay: 2.4s;
}
.main_articles_top_link-wrapp-arrows svg:nth-child(10) path{
    animation-delay: 2.7s;
}
@keyframes arrowsblink{
    0%{
        fill: #272C31;
    }
    10%{
        fill: var(--blue);
    }
    20%{
        fill: #272C31;
    }
    100%{
        fill: #272C31;
    }
}
.mainpage-title{
    margin-bottom: -4px;
    font-weight: 800;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #181A1C;
}
.mainpage-title span{
    color: var(--blue);
}
.main_articles_info{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.article--card{
    max-width: 442px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    position: relative;
}
.article--card_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.article--card_info-date{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #272C31;
    margin-bottom: 7px;    
}
.article--card_info_tags-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 15px;
}
.article--card_info_tags-list-item{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2.5px 8px;
    background: #F7FAFF;
    border: 0.5px solid var(--blue);
    border-radius: 43px;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    text-transform: lowercase;
    color: #272C31;
    font-family: 'Montserrat';
}
.article--card_info-title{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #181A1C;   
    transition-duration: 0.3s; 
}
.article--card_info-author{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #707981;    
}
.article--card_info-author span{
    color: #181A1C;
}
.article--card_info-views{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.article--card_info-views span{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    text-transform: uppercase;
    color: #181A1C;
}
.article--card.big{
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.article--card.big img{
    max-width: 789px;
    width: 100%;
    height: 400px;
}
.article--card.big
.article--card_info-views{
    top: 100%;
    transform: translateY(-100%);
}
.article--card.big
.article--card_info-title{
    max-width: 453px;
    font-size: 30px;
}
.article--card_info-text{
    max-width: 453px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #272C31;
    margin-bottom: 10px;    
    max-height: 108px;
    overflow: hidden;
}
.article--card-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    gap: 5px;
    position: absolute;
    width: 76px;
    height: 31px;
    background: linear-gradient(93.52deg, #001AEB 5.03%, #007FF0 93.67%);
    border-radius: 43px;
    top: 22px;
    right: 0;
}
.article--card-top p{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;    
}
.article--card-link{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.article--card-link:hover ~
.article--card_info 
.article--card_info-title
{
    color: var(--blue);
}
.article--card img{
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);
}
.article--card-link:hover +
img
{
    transform: scale(102%);
}
/*--main-articles*/
/*--MAINPAGE--*/